---
---

#one-mean {
  h1 {
    padding-bottom: 10px;
    text-align: center;
  }
  textarea[readonly] {
    background-color: lightgray;
  }
  .toggle-box {
    margin-left: 1ch;
  }
  hr {
    border: 2px solid green;
  }
  .chart-input-form {
    display: flex;
    // border-bottom: 3px green solid;
    .data-form {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 35ch;
      padding: 5px;
      margin-bottom: 10px;
      text-align: justify;
    }
    .chart-wrap {
      flex: 8;
    }
    label,
    input[type="number"] {
      display: inline-block;
    }
  }
}
