---
---

#one-mean {
  label,
  p {
    font-size: 10px;
  }
  textarea[readonly] {
    background-color: lightgray;
  }
  .toggle-btn:hover {
    cursor: pointer;
  }

  .chart-input-form {
    display: flex;
    border-bottom: 3px green solid;
    .data-form {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 30ch;
      padding: 5px;
      margin-bottom: 10px;
      text-align: justify;
    }
    .chart-wrap {
      flex: 8;
    }
    label,
    input[type="number"] {
      display: inline-block;
    }
  }
}
