---
---
#two-mean-data, #two-mean-sample, #two-mean-diff {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .control, .stats {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
  }
  .control {
    width: 35ch;
    min-height: 70%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;

    #csv-input {
      flex-grow: 1;
      width: 100%;
      height: 50%;
      resize: vertical;
    }
  }

  .stats div {
    margin: 0 .5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    span[id] {
      margin-left: auto;
    }
  }

  .view {
    flex-grow: 1;
    flex-shrink: 1;
  }
  #data-chart-1, #data-chart-2 {

  }

  .chart-wrap {
    height: 10em;
  }
}

.chart-wrap {
  display: block;
  position: relative;
}

#how-many-stddev {
  font-weight: bold;
}

