<div class="flex-row">
  <div class="data-form">
    <select id="tailDirection">
      <option value=null>Please Select</option>
      <option value="oneTailRight">One Tail Right</option>
      <option value="oneTailLeft">One Tail Left</option>
      <option value="TwoTail">Two Tail</option>
    </select>
    <br>
    <p>Total Samples:<span id="total-samples"></span></p>
    <label for="tailValue"> Sample means at least as extreme as</label>
    <input type="number" id="tailValue"/>
    <p>= <span id="total-selected-samples">0</span> Samples</p>
    <p>(Proportion:<br><span id="proportion"></span>)</p>
  </div>
  <div class="data-form">
    <textarea rows="10" readonly id="samples-mean-display"></textarea>
    <p>mean of samples mean:<span id ="samples-mean"></span></p>
  </div>
  <div class="chart-wrap"><canvas id="statistic-data-chart"></canvas></div>
</div>
