<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" content="application/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}} | {{page.title}}</title>
    <link rel="stylesheet" href="/css/base.css"></link>
  </head>
  <body>
    <nav id="navbar">
      <h1 class="logo"><span class="text-primary">Statistic</span> Simulation</h1>
      <ul>
        <li><a href="/#">Home</a></li>
        <li><a href="/#">About</a></li>
        <li><a href="/#">Contact</a></li>
      </ul>
    </nav>
    <div id="main-content">{{content}}</div>
    <footer id="main-footer" class="bg-dark text-center py-1">
      <div class="container">
        <p>Copyright ©2019 CSUS. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
