<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}} | {{page.title}}</title>
    <link rel="stylesheet" href="/css/base.css"></link>
  </head>
  <body>
    <nav id="navbar">
      <h1 class="logo"><span class="text-primary">SAVIS</span></h1>
      <ul>
        <li><a href="/#">{% include translate.html key="home.title" %}</a></li>
        <li><a href="/about/">{% include translate.html key="about.title" %}</a></li>
        <li><a href="/#">{% include translate.html key="download.title" %}</a></li>
        <li><a href="/#">{% include translate.html key="userManual.title" %}</a></li>
      </ul>
    </nav>
    <div id="main-content">{{content}}</div>
    <footer id="main-footer" class="bg-dark text-center py-1">
      <div class="container">
        <p>{% include translate.html key="site.footer" %}</p>
      </div>
    </footer>
  </body>
</html>
