#one-mean .toggle-box {
  margin-left: 1ch; }
#one-mean .chart-input-form {
  display: flex; }
  #one-mean .chart-input-form .data-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 38ch;
    padding: 5px;
    margin-bottom: 10px;
    text-align: justify; }
  #one-mean .chart-input-form .chart-wrap {
    flex: 8; }
  #one-mean .chart-input-form label,
  #one-mean .chart-input-form input[type="number"] {
    display: inline-block; }
#one-mean .btn {
  margin-top: 1px;
  margin-bottom: 1px; }
