---
---

.paragraph {
  max-width: 1080px;
  margin: auto;
  h3 {
    margin-top: 5px;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .center-text {
    text-align: center;
  }
}

hr {
  margin-top: 4px;
}
