---
layout: default
titlekey: about.title
---
<link rel="stylesheet" href="./about.css">
<h1>{% include translate.html key="about.title" %}</h1>
<div class="paragraph">
  <p>{% include translate.html key="about.content1" %}</p></div>
<div class="paragraph">
  <p>{% include translate.html key="about.content2" %}</p>
  <ul>
    <li class='center-text'>Matt Merrill</li>
    <li class='center-text'>Jason Robinson</li>
    <li class='center-text'>Mike Stepp</li>
    <li class='center-text'>Ryan Bartoli</li>
    <li class='center-text'>Isaac Israel</li>
    <li class='center-text'>Josh Zurbuchen</li>
    <li class='center-text'>Chun Yue Leung</li>
  </ul>
</div>
<hr>
<div class="paragraph">
  <h3>{% include translate.html key="about.contact" %}</h3>
  <p class='center-text'><a href="https://www.csus.edu/faculty/d/rdiaz/">Rafael E Diaz Escamilla</a></p></div>
<hr>

