---
---

#two-proportions {
  h1 {
    margin-bottom: .5em;
  }

  .lhs, .rhs {
    //border: 1px solid gray;
    flex-grow: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .chart-wrap {
    display: block;
    position: relative;
  }
}
