---
---

#two-proportions {
  h1 {
    margin-bottom: .5em;
  }
  table {
    width: 100%;
  }

  .section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  .lhs, .rhs {
    //flex-grow: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
  .lhs {
    width: 26em;
  }
  .rhs {
    flex-grow: 1;
  }

  .chart-wrap {
    height: 10em;
    max-width: 40em;
  }
}
