#two-mean #csv-input {
  flex-grow: 1;
  width: 100%;
  height: 50%;
  min-height: 8rem;
  resize: vertical; }
#two-mean .stats div {
  margin: 0 .5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  #two-mean .stats div .stat {
    text-align: right; }
#two-mean .view {
  flex-grow: 1;
  flex-shrink: 1; }
#two-mean .chart-wrap {
  height: 10em; }

#how-many-stddev {
  font-weight: bold; }
