---
layout: default
title: Home
---
<link rel="stylesheet" href="/css/home.css">
<div id="main-menu">
  <ul>
    <li><a href="/oneProportion/" class="btn">{% include translate.html key="oneProportion.title" %}</a></li>
    <li><a href="/twoProportions/" class="btn">{% include translate.html key="twoProportion.title" %}</a></li>
    <li><a href="/oneMean/" class="btn">{% include translate.html key="twoMean.title" %}</a></li>
    <li><a href="/twoMean/" class="btn">{% include translate.html key="oneMean.title" %}</a></li>
  </ul>
</div>

