---
layout: default
title: Home
---
<link rel="stylesheet" href="{{base}}./css/home.css">
<div id="main-menu">
  <ul>
    <li><a href="{{base}}./oneProportion/index.html" class="btn">{% include translate.html key="oneProportion.title" %}</a></li>
    <li><a href="{{base}}./twoProportions/index.html" class="btn">{% include translate.html key="twoProportion.title" %}</a></li>
    <li><a href="{{base}}./oneMean/index.html" class="btn">{% include translate.html key="oneMean.title" %}</a></li>
    <li><a href="{{base}}./twoMean/index.html" class="btn">{% include translate.html key="twoMean.title" %}</a></li>
  </ul>
</div>

