---
---

#one-proportion {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  h4 {
    margin-top: 3px;
  }
  .chart-input-form {
    display: flex;
    #control {
      width: 100ch;
    }
    label {
      display: block;
      font-size: 12px;
    }
  }
  table {
    margin: auto;
    font-size: 12px;
  }
  .right-num {
    text-align: right;
    // float: right;
  }
}
